/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo e fontes */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('IMG/110720162.jpg   '); /* Imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center center; /* Garante que a imagem fique centralizada */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    min-height: 100%;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar .logo img {
    height: 70px;
    
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    color: white;
    text-decoration: none;
    background-color: #f7a900;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #e68900;
  }
  
  /* Botão hamburger (para telas pequenas) */
  .hamburger {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
  }
  
  @media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(img/delicious-homemade-bread.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}